/* Style view Work In Progress */
#WipMainContainer{ 
    height: 20em;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#wipReturnBtn{
    cursor: pointer;
    border: none;
    background: none;
    font-size: 0.75em;
    transition: color 0.25s;
}

#wipReturnBtn:hover{
    color: #808080;
    transition: color 0.25s;
}